<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="Cotação das stablecoins"/>
        <meta name="author" content="vitorgamer58"/>
        <meta name="rating" content="general"/>
        <title>Cotação Média do Bitcão</title>
        <link href="css/estilo.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/estilo.css" rel="stylesheet" type="text/css" media="print"/>

        <!-- Social: Facebook / Open Graph -->
        <meta property="og:url" content="https://bitcaoarbitrado.000webhostapp.com/stablecoins/"/>
        <meta property="og:type" content="page"/>
        <meta property="og:title" content="Cotação das stablecoins"/>
        <meta property="og:image" content="https://bitcaoarbitrado.000webhostapp.com/stablecoins/img/img.png"/>
        <meta property="og:description" content="Cotação e volume das Stablecoins"/>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-52149749-7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-521XXXXX-7');
</script>

    </head>


