<body>
	<table>
	<tbody>
		<tr><th colspan="4">Preços por Exchange</th></tr>
		<tr>
			<td>Moeda</td>
			<td>Preço</td>
			<td>Volume</td>
			<td>%</td>
		</tr>
		<tr>
			<td>USDT</td>
			<td>US$: <?=number_format($usdt_price, 2, '.', ',')?></td>
			<td><?=number_format($usdt_volume, 2, '.', ',')?></td>
			<td><?=$c_usdt?>%</td>
		</tr>
		<tr>
			<td>TUSD</td>
			<td>US$: <?=number_format($tusd_price, 2, '.', ',')?></td>
			<td><?=number_format($tusd_volume, 2, '.', ',')?></td>
			<td><?=$c_tusd?>%</td>
		</tr>
		<tr>
			<td>DAI</td>
			<td>US$: <?=number_format($dai_price, 2, '.', ',')?></td>
			<td><?=number_format($dai_volume, 2, '.', ',')?></td>
			<td><?=$c_dai?>%</td>
		</tr>
		<tr>
			<td>Valores mais próximos de US$ 1.00 e 100% significa uma stablecoins mais forte, cumprindo o papel ao qual foi designada, ser uma moeda estável com lastro em dólar.</td>
		</tr>
		<tr>
			<td>Powered by: Coinlib API</td>
		</tr>
	</tbody>
	</table>
<br>
<br>
<br>
